<%= render 'layouts/header' %>
<div class="sign-in">
  <div class="current-user">
    <form action="">
      <input type="email" name="" id="">
      <input type="password" name="" id="">
      <button type="submit">Log in</button>
    </form>
  </div>
  <div class="new-user">
    <button type="button">Register</button>
  </div>
</div>
