/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.header {
    width: 100%;
}

.chatrooms-index {
    display: flex;
}

.chat {
    width: 75%;
    padding: 20px;
}

.users-in-chat {
    width: 25%;
    padding: 20px;
}

.user {
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 1px solid #707172;
    margin-bottom: 8px;
}

.user:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.message {
    display: flex;
}

.flash-message {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 24px;
}

.author {
    margin-right: 10px;
    font-weight: bold;
    color: royalblue;
}

.flash-message.success {
    color: #0e804a;
    background-color: rgba(135, 255, 172, 0.5);
}

.flash-message.error {
    color: #8b1800;
    background-color: rgba(139, 24, 0, 0.51);
}
