<div class="header">
  <div>
    <%= link_to 'ChatRoom', root_path %>
    <a href="">Messages</a>
  </div>
  <div>
    <%= button_to 'Sign In', sign_in_path, {method: :get} %>
    <button>Sign Up</button>
    <button>Sign Out</button>
  </div>
</div>